<article class="comment">
  <span class="user"> <%= comment.user.username %> commented </span>
  <small class="muted">
    <%= time_ago_in_words(comment.created_at) %> ago.
  </small>
  <p class="remarks">
  <% if comment.reacting_with_id %>
    <%= image_tag comment.reacting_with.gif.url(:medium), class: "img-polaroid center" %>
  <% else %>
    <%= comment.remarks %>
  <% end %>
  </p>
</article>