<article class="thumbnail">
  <span class="title"> <%= reaction.title %> </span>
  <%= image_tag reaction.gif.url, class: "img-polaroid center" %>
  <span><small class="muted"> <%= reaction.comments.count %> comments </small></span>
</article>